 *,
*::before,
*::after {
  box-sizing: border-box;
}
 .coaches{
    font-family: 'Inter';
    font-style: normal;
    width: 100%;
    /* display: flex; */
    /* position: relative; */
 }

 .coaches__container{
    width: 100%;
    /* max-width: 1320px; */
    margin: 0 auto;
    padding: 0 100px;
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 20px;
 }

 .coach{
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 40px;
    height: 500px;
    /* align-items: center; */
 }

 .coach__media img{
    width: 100%;
    /* border-radius: 16px;   */
    object-fit: cover;
    height: 500px;
 }

 .coach__content{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
 }
 .coaches__title{
    margin: 0;
 }

.coaches__title h1{
    margin: 0;
    text-align: center;
    font-size: 70px;
}

.coach__name{
    font-size: 40px;
margin-bottom: 0;   
}

.coach__role{
margin-top: 0;
}

/* Настройка отдельных изображений */

.coach__img--1{
    object-position: center 20%;
}

.coach__img--2{
    object-position: center top;
}

.coach__img--3{
    object-position: right bottom;
}

.coach__img--4{
    object-position: center bottom;
}

.coach__img--5{
    object-position: center bottom;
}

/* MOBILE START */

@media (max-width:1280px){
    .aboutpage h4,
    .coaches__container{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width:992px){
     .coach__media img{
    height: 300px;
 }

 
 .coach{
    grid-template-columns: 300px 1fr;
    gap: 30px;
    height: 300px;
    /* align-items: center; */
 }
.coaches__title{
    padding-top: 30px;
}

 .coaches__title h1{
    font-size: 50px;
 }

 .coach__name{
    font-size: 30px;
 }
}

@media (max-width:768px){
    .coaches__container{
        padding: 0 50px;
        padding-bottom: 15px;
    }

    .coach{
        grid-template-columns: 1fr;
        grid-template-rows: auto 500px;
        gap: 15px;
        height: auto;
    }

    .coach__media img{
    height: 500px;
    }

    .coach__name{
        margin-top: 5px;
    }
    .item2{
        order: -1;
    }

}

@media (max-width:576px){
    .coaches__container{
        padding: 0 25px;
        padding-bottom: 15px;
    }
    .coach{
        grid-template-rows: auto 400px;
    }
    .coach__media img{
        height: 400px;
    }
    .aboutpage h4{
        font-size: 12px;
        padding-left: 25px;
    }
    .coaches__title h1{
        font-size: 37px;
    }
}

/* MOBILE END */