.header__brand--red{
    display: inline;
    color: #ff0000;
}
/*HEADER START*/

.header{
    font-family: 'Inter';
    font-style: normal;
}


.header__container{
    background-color: #2A2B26;
    padding: 15px 0 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.header__brand{
    align-items: center;
    justify-items: center;
    text-decoration: none;
}

.header__logo{
    color: rgba(255, 255, 255, 1);
    text-decoration: none; /* убирает подчеркивание */
    background-color: transparent; /* убирает фон */
    border: none; /* убирает рамки */
    outline: none; /* убирает обводку при фокусе */
    cursor: pointer;
    margin: 0;
    font: inherit; /* наследует шрифт */
}
.header__nav a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none; /* убирает подчеркивание */
    background-color: transparent; /* убирает фон */
    border: none; /* убирает рамки */
    outline: none; /* убирает обводку при фокусе */
    cursor: pointer;
    padding: 20px;
    margin: 0;
    font: inherit; /* наследует шрифт */
    font-size: 20px;
}


/*HEADER END*/