.header__brand--red{
    display: inline;
    color: #ff0000;
}
/*HEADER START*/

.header{
    font-family: 'Inter';
    font-style: normal;
}


.header__container{
    background-color: #2A2B26;
    padding: 15px 0 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.header__brand{
    align-items: center;
    justify-items: center;
    text-decoration: none;
}

.header__logo{
    color: rgba(255, 255, 255, 1);
    text-decoration: none; /* убирает подчеркивание */
    background-color: transparent; /* убирает фон */
    border: none; /* убирает рамки */
    outline: none; /* убирает обводку при фокусе */
    cursor: pointer;
    margin: 0;
    font: inherit; /* наследует шрифт */
}
.header__nav{
    display: flex;
}

.header__nav a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none; /* убирает подчеркивание */
    background-color: transparent; /* убирает фон */
    border: none; /* убирает рамки */
    outline: none; /* убирает обводку при фокусе */
    cursor: pointer;
    padding: 20px;
    margin: 0;
    font: inherit; /* наследует шрифт */
    font-size: 20px;
}

.burger{
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: poinetr;
}

/*HEADER END*/

/* MOBILE HEADER START */

@media (max-width:768px){
.header__brand{
    font-size: 12px;
}
.header__container{
    padding: 15px 20px;
}
  .burger{
    display: block;
    z-index: 100;
    position: relative;
  }  

.header__nav {
    z-index: 100;
    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;
    background: rgba(42, 43, 38, 0.8);;

    flex-direction: column;
    align-items: center;

    max-height: 0;
    overflow: hidden;

    transition: 0.3s;
  }

  .header__nav a {
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }

  /* Когда меню открыто */
  .header__nav.active {
    max-height: 400px;
    gap: 30px;
    margin-top: 6px;
  }

}

/* MOBILE HEADER END */