 *,
*::before,
*::after {
  box-sizing: border-box;
}

 .news{
    font-family: 'Inter';
    font-style: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    /* position: relative; */
 }
.news__container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 20px;
}

 .news__title{
    margin: 0;
 }

.news__title h1{
    margin: 0;
    text-align: center;
    font-size: 70px;
}

 .news__item{
    position: relative;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    height: 600px;
    padding: 0 100px;
}

.img__wrapper{
    display: flex;
    height: 600px;
}

.img__wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}

.img__wrapper {
  position: relative;
  /* width: 300px; */
  overflow: hidden;
}

.img__wrapper img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-items: center;
  /* justify-content: top; */
  flex-direction: column;

  opacity: 0;
  transition: opacity 0.3s ease;
}

/* ВАЖНО: hover на родителе */
.img__wrapper:hover .overlay {
  opacity: 1;
}

.item1 img{
  object-position: center 70%;
}

.item2 img{
  /* object-position: center 70%; */
}

.item3 img{
  object-position: center 60%;
}

/* MOBILE START */

@media (max-width:1280px){
.aboutpage h4,
.news__item{
    padding-left: 50px;
    padding-right: 50px;
}
}

@media (max-width:992px){
.news__title{
    padding-top: 30px;
 }

  .news__title h1{
  font-size: 50px;
}


.news__item{
  height: 450px;
}
  .img__wrapper {
  height: 450px;
}

.overlay {
  padding:0 20px ;
  padding-top: 50px;
}}

@media (max-width:768px){
.news__title h1{
  font-size: 35px;
}

.news__item{
  height: 450px;
}
  .img__wrapper {
  height: 450px;
}

.overlay {
  top: auto;
  bottom: 0;
  padding:0 20px ;
  /* padding-bottom:30px; */
  width: 100%;
  height: 50%;
}

.overlay h1{
  font-size: 25px;
}

}

@media (max-width:576px){
.aboutpage h4{
  font-size: 12px;
  padding-left: 25px;
  padding-top: 25px;
}
.news__item {
  padding:0 10px ;
  padding-top: 50px;
}
.news__container{
  gap: 10px;
}

.news__item{
  padding-top: 15px;
  height: 450px;
}
  .img__wrapper {
  height: 450px;
}

.overlay{
    margin-bottom: 15px;
}
}


/* MOBILE END */