html {
    scroll-behavior: smooth;
}

 *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  flex-direction: column;
  /* overflow-x: hidden; */
}



.redLine{
    background-color: red;
    width: 100%;
    height: 3px;
}

.aboutpage{
    width: 100%;
    height: auto;
    /* background-color: grey; */
}

.aboutpage h4{
    color: rgba(42, 43, 38, 0.5);
    margin: 0;
    padding-top: 50px;
    padding-left: 100px;
}

.info,
.aboutus,
.news,
.contact {
  width: 100%;
  display: flex;
  position: relative;
  
}


.info {
    background-image: url("../media/info-media.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1030px;
    margin-bottom: 25px;
}

.info__container {
    /* position: absolute; */
    top: 0;
    max-width: 95%;
    height: 200px;
    margin-top: 200px;
    z-index: 1;
    margin-left: 100px;
}

.info__content {
    position: relative;
    width: 100%;
    color: white ;
    z-index: 2;
    display: flex;
    justify-content: center; /* горизонтальное центрирование */
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800
}
.info__title{
    color: #ffffff;
    margin: 0;
    position: relative;
    gap: 20px;
    font-size: 90px;
    display: flex;
    align-items: center;
    max-height: 70px;
}

.info__subtitle {
    color: #ffffff;
    margin-top: 2px;
    margin-bottom: 7px;
    margin-left: 0;
    position: relative;
    gap: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.info__title--red,
.aboutpage--red{
    display: inline;
    color: #ff0004;
}

.info__actions {
    max-width: 22.5%;
    height: 40px;
    
}

.info__btn{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #FF0004;
    color: white;
    box-shadow: 0;
    border: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.info__btn:hover{
    color: black;
    transition: all 0.3s ease;

}

.infoSection__aboutus,
.infoSection__news,
.infoSection__contact{
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
}

.infoSection--aboutus__content,
.infoSection--news__content,
.infoSection--contact__content{
    padding: 0 100px;
    align-items: flex-end;
    margin-top: auto;
    color: rgba(255, 0, 0, 0.75);



}

.aboutus, 
.news{
    padding: 0;
    margin: 0;
}

.aboutus__container,
.contact__container{
    width: 100%;
    /* max-width: 1320px; */
    margin: 0 auto;
    padding: 0 100px;
    font-family: 'Inter';
    font-style: normal;
}

.aboutus__title,
.news__title,
.contact__title{
    text-transform: uppercase;
    margin-top: 0;
    margin: 0;
    position: relative;
    gap: 20px;
    font-size: 50px;
    display: flex;
    align-items: center;
    max-height: 70px;
}

.aboutus__subtitle{
    margin-top: 0;
    font-size: 25px;

}

.news {
    /* width: auto; */
    margin: 0 auto;
    overflow: hidden;
}

.news__container {
    max-width: 90%;
    margin: 0 100px;
    /* padding: 0 100px; */
    font-family: 'Inter';
    font-style: normal;
}

/*SWIPER START*/

.swiper {
    /* padding: 0 100px; */
    /* padding-right: 1000px; */
    /* width: 600px; */
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    /* padding-right: 200px; */
    display: flex;
    box-sizing: border-box;
    flex-shrink: 0;        /* чтобы слайды не сжимались */
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.swiper-pagination{
    position: relative !important;
    padding-top: 30px;
    bottom: auto;
}

.swiper-pagination-bullet{
    background-color: red !important;
    opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background-color: black !important; /* цвет активного слайда */
}

/*SWIPER END*/

/*FORM START*/

.contact__title {
    padding-bottom: 20px;
    align-self: center;
}

.contact__container{
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    /* gap: 50px; */
    padding-bottom: 100px;
}

.contact__fields--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact__field,
.contact__button{
    margin: 25px;
    height: 40px;
    /* max-width: 90%; */
    display: flex;
    flex-direction: column;
    /* margin-bottom: 25px; */
}

.contact__input{
    background-color: #D9D9D9;
    height: 40px;
    border: 0;
}

.contact__field :focus{
    background-color: #D9D9D9;;
    height: 40px;
    border: none;
    outline: none;
}

.contact__field input{
    padding-left: 10px
}

.contact__button {
    background-color: #ff0000;
    border: none;
    outline: none;
    color: white;
    background-color: #FF0004;
    color: white;
    box-shadow: 0;
    border: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    border-radius: 1px;
    cursor: pointer;

    text-align: center;         /* горизонтальное выравнивание */
    display: flex;              /* делаем кнопку flex-контейнером */
    justify-content: center;    /* центрируем по горизонтали */
    align-items: center;        /* центрируем по вертикали */
    padding: 10px 20px; 
}

/*FORM END*/

/* MOBILE START*/

/* 1200 px - laptop */
@media (max-width: 1200px){

.info {
    background-image: url("../media/info-media.jpg");
    height: 850px;
}

.info__title{
    font-size: 70px;
}

.info__actions{
    max-width: 30%;
}


.news__container{
    max-width: 95%;
    margin: 0;
    margin-left: 100px;
    padding-right: 100px;
}


}

@media (max-width: 992px) {
    .info {
    background-image: url("../media/info-media.jpg");
    height: 600px;
}

 /* .info__container, */
 .aboutus__container,
 .contact__container{
    padding: 0 40px;
 }


.news__container,
.info__container{
 margin-left: 40px;
 padding-right: 10px;
}
/* INFO */
.info__title{
    font-size: 50px;
    gap: 10px;
    height: 45px;
    
}
.info__subtitle{
    margin-top: 0;
    font-size: 17px;
}
.info__btn{
    font-size: 16px;
}
/* ABOUTUS */
.aboutus__title,
.news__title,
.contact__title{
    font-size: 40px;
}
.aboutus__subtitle{
    font-size: 20px;
}
.contact__fields--grid {
  grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 768px){
    .infoSection--aboutus__content,
    .infoSection--contact__content,
    .infoSection--news__content{
        padding-left: 30px;
    }

     /* .info__container, */
 .aboutus__container,
 .contact__container{
    padding: 0 20px;
 }


.news__container,
.info__container{
 margin-left: 20px;
 padding-right: 10px;
}
.info__title{
    font-size: 45px;
    gap: 8px;
    height: 40px;
    
}

.info__subtitle{
    font-size: 17px;
}

.info__btn{
    font-size:14px;
    max-height: 30px;
}

.aboutus__subtitle{
    font-size: 18px;
}
}

@media (max-width:576px ){
.infoSection__aboutus,
.infoSection__news,
.infoSection__contact{
    height: auto;
}

.infoSection--aboutus__content,
.infoSection--contact__content,
.infoSection--news__content{
    margin-top: 30px;
    /* height: 40px; */
}

.info{
    height: 400px;
    margin-bottom: 0;
}
.info__container{
        margin-top: 100px;
}
.info__title{
    font-size: 30px;
    gap: 7px;
    height: 30px;
    
}

.info__subtitle{
    font-size: 14px;
}

.info__btn{
    font-size:12px;
    max-height: 30px;
}
.info__actions{
    max-width: 40%;
}

.aboutus__title,
.news__title,
.contact__title{
    font-size: 25px;
}

.aboutus__subtitle{
    font-size: 14px;
}


.contact__fields--grid {
  grid-template-columns: 1fr;
}

.swiper {
    height: 400px;
}

}

/* MOBILE END */
