<footer class="footer">
        <div class="footer__container">

            <div class="footer__top">
                <div class="footer__grid">
                    <div class="footer__brand">
                        <img src="media/logo/sp 1.svg" class="footer__logo">
                    </div>

                    <nav class="footer__nav">
                        <h3>Навигация</h3>
                        <a href="#" class="footer__a">Главная</a>
                        <a href="#aboutus__link" class="footer__a">О нас</a>
                        <a href="#info__link" class="footer__a">Блог</a>
                        <a href="#contact__link" class="footer__a">Связь</a>
                    </nav>

                    <div class="footer__contacts">
                        <h3>Связь</h3>
                        <p>+7 (928) 116-98-33</p>
                        <p>+7 (928) 270-15-60</p>
                        <p>+7 (918) 557-41-06</p>
                    </div>

                    <div class="footer__addresses">
                        <h3>Адреса</h3>
                        <p>Творческая 5</p>
                        <p>Лицей 102</p>
                        <p>Пацаева 666</p>
                    </div>
                </div>
            </div>

            <div class="footer__bottom">
                © 2026 Company. Все права защищены.
            </div>

        </div>
    </footer>