<header class="header">
        <div class="header__container">
            <a href="index.html" class="header__brand">
                <p class="header__logo" ><span class="header__brand--red">SPARTA</span></p>
                <p class="header__logo" >KARATE TEAM</p>
            </a>
            <nav class="header__nav">
                <a href="index.html">Главная</a>
                <a href="coaches.html">Тренеры</a>
                <a href="news.html">Новости</a>
            </nav>

        </div>
    </header>